{% extends 'blog/base.html' %}

{% block title %}

{% endblock %}

{% block content_blog %}

<div class="row">
    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">

        <div class="intro">

            {% if messages %}

            {% if user.is_authenticated %}

            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{user}} {{ message }}</li>
                {% endfor %}

            {% else %}

                {% endif %}

</ul>
{% endif %}

            <h1 class="text-center" data-bss-hover-animate="pulse">&nbsp;

                {{discussion_detail.title}}

            </h1>
            <p class="text-center">

                <span class="by">by</span> <a href="#">{{discussion_detail.author}}</a>&nbsp;&nbsp;<span class="date">{{discussion_detail.date_create|date:"o M d"}} </span><br>
            {{discussion_detail.content|safe}}
            </p>
        </div>

        <p class="text-center" data-bss-hover-animate="pulse"></p>

        <div class="text">
            <p>

            </p>
            <figure class="figure d-block"></figure>
        </div>
    </div>
</div>

{% endblock %}