{% extends 'blog/base.html' %}

{% block title %}

{% endblock %}

{% block content_blog %}

<div class="row">
    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">

        <div class="intro">
            <h1 class="text-center" data-bss-hover-animate="pulse">&nbsp;

                {{post_cn.title}}

            </h1>
            <p class="text-center">
                <span class="by">by</span>
                {% if post_cn.author == user %}
                <a href ="{% url 'post_delete' post_cn.id   %}">delete |</a>
                <a href ="{% url 'post_update' post_cn.id   %}">update |</a>
                {% endif %}
                <a href="#">{{post_cn.author}}</a>&nbsp;&nbsp;
                <span class="date">{{post_cn.date_create|date:"o M d"}} </span><br>
            {{post_cn.content|safe}}
            </p>
        </div>

        <p class="text-center" data-bss-hover-animate="pulse"></p>

        <div class="text">
            <p>

            </p>
            <figure class="figure d-block"></figure>
        </div>
    </div>
</div>

{% endblock %}